version: "3.8"
services:
    iot-agent-json:
        image: fiware/iotagent-json:${IOTA_JSON_VERSION:-1.17.2}
        hostname: iot-agent-json
        networks:
          - fiware_backend
        depends_on:
          - mongodb
          - mqtt-broker
        ports:
          - "4041:4041"
          - "7876:7896"
        environment:
          - IOTA_CB_HOST=orion # name of the context broker to update context
          - IOTA_CB_PORT=1026 # port the context broker listens on to update context
          - IOTA_NORTH_PORT=4041
          - IOTA_REGISTRY_TYPE=${IOTA_JSON_REGISTRY_TYPE:-mongodb} # Whether to hold IoT device info in memory or in a database
          - IOTA_LOG_LEVEL=${IOTA_JSON_LOG_LEVEL:-ERROR} # The log level of the IoT Agent
          - IOTA_TIMESTAMP=${IOTA_JSON_TIMESTAMP:-true} # Supply timestamp information with each measurement
          - IOTA_CB_NGSI_VERSION=${IOTA_JSON_CB_NGSI_VERSION:-v2} # use NGSIv2 when sending updates for active attributes
          - IOTA_AUTOCAST=${IOTA_JSON_AUTOCAST:-true} # Ensure Ultralight number values are read as numbers not strings
          - IOTA_MONGO_HOST=${IOTA_JSON_MONGODB_HOST:-mongodb1,mongodb2,mongodb3} # The host name of MongoDB or list of hosts in case mongodb is instanciated as replicaset
          - IOTA_MONGO_PORT=${IOTA_JSON_MONGODB_PORT:-27017} # The port mongoDB is listening on
          - IOTA_MONGO_REPLICASET=${IOTA_JSON_MONGO_REPLICASET:-rs0} # Optional - name of the replicaset if mongodb is instanciated as replicaset
          - IOTA_MONGO_DB=${IOTA_JSON_MONGODB_DB_NAME:-iotagentjson} # The name of the database used in mongoDB
          - IOTA_MQTT_HOST=${IOTA_JSON_MQTT_HOST:-mqtt-broker} # The host name of the MQTT Broker
          - IOTA_MQTT_PORT=${IOTA_JSON_MQTT_PORT:-1883} # The port the MQTT Broker is listening on to receive topics
          - IOTA_MQTT_KEEPALIVE=${IOTA_JSON_MQTT_KEEPALIVE:-60}
          - IOTA_PROVIDER_URL=${IOTA_JSON_PROVIDER_URL:-http://iot-agent-json:4041}
          - IOTA_MULTI_CORE=${IOTA_JSON_MULTI_CORE:-true}
        #healthcheck:
        #  test: curl --fail -s http://iot-agent-json:4041/iot/about || exit 1
        deploy:
          replicas: 2
          restart_policy:
            condition: on-failure
            delay: 5s
            max_attempts: 3
            window: 120s
    #    ulimits: # does not seem to work; gets ignored when starting service
    #        core: -1
    #        data: -1
    #        fsize: -1
    #        memlock: -1
    #        nofile: 65535
    #        rss: -1
    #        stack: -1
    #        nproc: -1
        logging:
          driver: "json-file"
          options:
            max-file: 5
            max-size: 50m
networks:
      fiware_backend:
        #external: true
