version: "3.7"
services:
  orion:
    # Please, do only run one service of the following: orion, orion-ld, djeane
	# Sometimes the newest builds fail. Hence, we fixed a stable version that
	# probably will be updated once in a while
    image: fiware/orion:2.2.0
    hostname: orion
    depends_on:
      - mongodb
    networks:
        - fiware
    ports:
        - "1026:1026"
    # Check carefully documentation for options:
	# https://fiware-orion.readthedocs.io/en/master/admin/cli/index.html
	# For in production mode please adjust these settings!
	command: -dbhost mongo 
		     -logLevel ERROR
			 -logForHumans
			 -statCounters 
			 -statSemWait 
			 -statTiming 
			 -statNotifQueue
			 -reqMutexPolicy none
    # Docker stack does not allow additional health check
    heathcheck:
      test: ["CMD", "curl", "-f", "http://orion:1026/version" || exit 1]
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 40
	# Probably this placement is not necessary
    deploy:
      replicas: 5
      placement:
        constraints: [node.role == manager]
    #Limitation of logging
	logging:
      driver: "json-file"
      options:
         max-file: 5
         max-size: 10m

networks:
  fiware:
