version: '3.7'
services:
  crate01:
    # We try to always provide the latest stable version!
    # Please check release notes and https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html
    # In future we will probably provide an image of the community edition
    image: crate:4.0.4
    hostname: crate01
    networks:
        - fiware
    #port exposal for remote access from outside the docker network
    ports:
         - "4200:4200" # Admin UI
    #     - "4300:4300" # TCP port to which the CrateDB HTTP service will be bound to
    #     - "5432:5432" # TCP port to which the CrateDB Postgres service will be bound to
    volumes:
      - crate01:/data



    command: >
            crate
            -Ccluster.name=fiware
            -Cnode.name=crate01
            -Cnetwork.host=_site_
            -Cdiscovery.seed_hosts=crate02,crate03
            -Ccluster.initial_master_nodes=crate01,crate02,crate03
            -Cauth.host_based.enabled=false
            -Chttp.cors.enabled=true
            -Chttp.cors.allow-origin="*"
            -Cgateway.expected_nodes=3
            -Cgateway.recover_after_nodes=3

    environment:
       - CRATE_HEAP_SIZE=2g

    deploy: # https://docs.docker.com/compose/compose-file/#deploy
      resources:    # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#resource-constraints
        limits:
          cpus: '1.5'   # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#cpu
          memory: 4g  # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#memory
      restart_policy: # https://docs.docker.com/compose/compose-file/#restart_policy
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      #placement:
      #  constraints: [node.role==manager]
      #    - node.hostname == <yourHostName>

    healthcheck:
        disable: true # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#id2

    # Limiting of logging
    logging: # https://docs.docker.com/compose/compose-file/#logging
      driver: "json-file"
      options:
        max-file: 5
        max-size: 5m

  crate02:
    # We try to always provide the latest stable version!
    # Please check release notes and https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html
    # In future we will probably provide an image of the community edition
    image: crate:4.0.4
    hostname: crate02
    networks:
        - fiware
    #port exposal for remote acces from outside the docker network
    ports:
         - "4201:4200" # Admin UI
    #     - "4300:4300" # TCP port to which the CrateDB HTTP service will be bound to
    #     - "5432:5432" # TCP port to which the CrateDB Postgres service will be bound to
    volumes:
      - crate02:/data
    
    # -Ccluster.name                 https://crate.io/docs/crate/reference/en/latest/config/node.html#basics
    # -Cnode.name                    https://crate.io/docs/crate/reference/en/latest/config/node.html#basics
    # -Cnetwork.host                 https://crate.io/docs/crate/reference/en/latest/config/node.html#hosts
    # -Cdiscovery.seed_hosts         https://crate.io/docs/crate/reference/en/latest/config/cluster.html#discovery
    # -Ccluster.initial_master_nodes https://crate.io/docs/crate/reference/en/latest/config/cluster.html#discovery
    # -Cauth.host_based.enabled      https://crate.io/docs/crate/reference/en/latest/config/node.html#host-based-authentication
    # -Chttp.cors.enabled            https://crate.io/docs/crate/reference/en/latest/config/node.html#cross-origin-resource-sharing-cors
    # -Chttp.cors.allow-origin       https://crate.io/docs/crate/reference/en/latest/config/node.html#cross-origin-resource-sharing-cors
    # -Cgateway.expected_nodes       https://crate.io/docs/crate/reference/en/latest/config/cluster.html#metadata-gateway
    # -Cgateway.recover_after_nodes  https://crate.io/docs/crate/reference/en/latest/config/cluster.html#metadata-gateway
    
    command: >
            crate
            -Ccluster.name=fiware
            -Cnode.name=crate02
            -Cnetwork.host=_site_
            -Cdiscovery.seed_hosts=crate01,crate03
            -Ccluster.initial_master_nodes=crate01,crate02,crate03
            -Cauth.host_based.enabled=false
            -Chttp.cors.enabled=true
            -Chttp.cors.allow-origin="*"
            -Cgateway.expected_nodes=3
            -Cgateway.recover_after_nodes=3

    environment:
       - CRATE_HEAP_SIZE=2g

    deploy: # https://docs.docker.com/compose/compose-file/#deploy
      resources:    # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#resource-constraints
        limits:
          cpus: '1.5'   # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#cpu
          memory: 4g  # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#memory
      restart_policy: # https://docs.docker.com/compose/compose-file/#restart_policy
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      #placement:
      #  constraints: [node.role==manager]
      #    - node.hostname == <yourHostName>

    healthcheck:
        disable: true # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#id2

    # Limiting of logging
    logging: # https://docs.docker.com/compose/compose-file/#logging
      driver: "json-file"
      options:
        max-file: 5
        max-size: 5m


  crate03:
    # We try to always provide the latest stable version!
    # Please check release notes and https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html
    # In future we will probably provide an image of the community edition
    image: crate:4.0.4
    hostname: crate03
    networks:
        - fiware
    #port exposal for remote access from outside the docker network
    ports:
         - "4202:4200" # Admin UI
    #     - "4300:4300" # TCP port to which the CrateDB HTTP service will be bound to
    #     - "5432:5432" # TCP port to which the CrateDB Postgres service will be bound to
    volumes:
      - crate03:/data
    
    # -Ccluster.name                 https://crate.io/docs/crate/reference/en/latest/config/node.html#basics
    # -Cnode.name                    https://crate.io/docs/crate/reference/en/latest/config/node.html#basics
    # -Cnetwork.host                 https://crate.io/docs/crate/reference/en/latest/config/node.html#hosts
    # -Cdiscovery.seed_hosts         https://crate.io/docs/crate/reference/en/latest/config/cluster.html#discovery
    # -Ccluster.initial_master_nodes https://crate.io/docs/crate/reference/en/latest/config/cluster.html#discovery
    # -Cauth.host_based.enabled      https://crate.io/docs/crate/reference/en/latest/config/node.html#host-based-authentication
    # -Chttp.cors.enabled            https://crate.io/docs/crate/reference/en/latest/config/node.html#cross-origin-resource-sharing-cors
    # -Chttp.cors.allow-origin       https://crate.io/docs/crate/reference/en/latest/config/node.html#cross-origin-resource-sharing-cors
    # -Cgateway.expected_nodes       https://crate.io/docs/crate/reference/en/latest/config/cluster.html#metadata-gateway
    # -Cgateway.recover_after_nodes  https://crate.io/docs/crate/reference/en/latest/config/cluster.html#metadata-gateway
    
    command: >
            crate
            -Ccluster.name=fiware
            -Cnode.name=crate03
            -Cnetwork.host=_site_
            -Cdiscovery.seed_hosts=crate01,crate02
            -Ccluster.initial_master_nodes=crate01,crate02,crate03
            -Cauth.host_based.enabled=false
            -Chttp.cors.enabled=true
            -Chttp.cors.allow-origin="*"
            -Cgateway.expected_nodes=3
            -Cgateway.recover_after_nodes=3

    environment:
       - CRATE_HEAP_SIZE=2g

    deploy: # https://docs.docker.com/compose/compose-file/#deploy
      resources:    # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#resource-constraints
        limits:
          cpus: '1.5'   # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#cpu
          memory: 4g  # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#memory
      restart_policy: # https://docs.docker.com/compose/compose-file/#restart_policy
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      #placement:
      #  constraints: [node.role==manager]
      #    - node.hostname == <yourHostName>

    healthcheck:
        disable: true # https://crate.io/docs/crate/guide/en/latest/deployment/containers/docker.html#id2

    # Limiting of logging
    logging: # https://docs.docker.com/compose/compose-file/#logging
      driver: "json-file"
      options:
        max-file: 5
        max-size: 5m

networks:
  fiware:
volumes:
  crate01:
  crate02:
  crate03: