version: '3.8'
services:
  cratedb:
    # We try to always provide the latest stable version!
    # Please check release notes!
    # In future we will probably provide an image of the community edition
    image: crate:${CRATEDB_VERSION:-4.5.0}
    labels:
      docker.service: cratedb
    hostname: "{{.Node.Hostname}}"
    networks:
      - fiware_backend
    volumes:
      - ${CRATEDB_VOLUME_PATH:-/home/ebcadmin/fiware/data/cratedb}:/data
    command: ["crate",
               "-Ccluster.name=${CRATEDB_CLUSTER_NAME:-YourDefaultClusterName}",
               "-Cnode.name=$$(hostname)",
               "-Cnode.data=true",
               "-Cnetwork.host=0.0.0.0",
               "-Cnetwork.publish_host=_eth0_",
               "-Cdiscovery.seed_hosts=cratedb-data",
               "-Cauth.host_based.enabled=false",
               "-Ccluster.initial_master_nodes=tst-fiware-dev-storage1",
               "-Chttp.cors.enabled=true",
               "-Chttp.cors.allow-origin='*'",
               "-Cgateway.expected_nodes=${CRATEDB_EXPECTED_NODES:-3}",
               "-Cgateway.recover_after_nodes=${CRATEDB_RECOVER_AFTER_NODES:-2}"]
    deploy:
      endpoint_mode: dnsrr
      mode: global
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      placement:
        constraints:
          - node.labels.role==storage
      labels:
        - com.df.notify=true
        - com.df.distribute=true
        - com.df.servicePath=/
        - com.df.port.1=4200
        - com.df.srcPort.1=4200
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
            cpus: '4'
            memory: 16G
        reservations:
            cpus: '2'
            memory: 8G
    healthcheck:
      disable: false
    # Limiting of logging
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 50m
    environment:
       - CRATE_HEAP_SIZE=${CRATEDB_HEAP_SIZE:-4g}
       - MAX_MAP_COUNT=262144
       - ES_JAVA_OPTS="-Xms1g -Xmx1g"

networks:
  fiware_backend:
    external: true
