version: '3.8'
services:
  # Orion is the original reference implementation of NGSIv2-Based datemanagement
  orion:
    # Please, do only run one service of the following: orion, orion-ld, djeane
    # Sometimes the newest builds fail. Hence, we fixed a stable version that
    # probably will be updated once in a while
    image: fiware/orion:${ORION_VERSION:-3.1.0}
    hostname: orion
    networks:
        - fiware_backend
    ports:
        - "1026:1026"
    command: -logLevel DEBUG -dbhost mongodb1,mongodb2,mongodb3 -rplSet rs0 -dbTimeout 10000
    # Check carefully documentation for options:
    # https://fiware-orion.readthedocs.io/en/master/admin/cli/index.html
    # For in production mode please adjust these settings!
    environment:
      - ORION_LOG_LEVEL=${ORION_LOG_LEVEL:-ERROR}
      - ORION_LOG_FOR_HUMANS=${ORION_LOG_FOR_HUMANS:-TRUE}
      - ORION_STAT_COUNTERS=${ORION_STAT_COUNTERS:-FALSE}
      - ORION_STAT_SEM_WAIT=${ORION_STAT_SEM_WAIT:-TRUE}
      - ORION_STAT_TIMING=${ORION_STAT_TIMING:-TRUE}
      - ORION_STAT_NOTIF_QUEUE=${ORION_STAT_NOTIF_QUEUE:-TRUE}
      - ORION_MONGO_HOST=${ORION_MONGO_HOST:-mongodb}
      - ORION_MUTEX_POLICY=${ORION_MUTEX_POLICY:-None}
      - ORION_CONN_MEMORY=${ORION_CONN_MEMORY:-128}
      - ORION_MONGO_REPLICA_SET=${ORION_MONGO_REPLICA_SET:-rs0}
    #healthcheck:
    #    test: ["CMD", "curl", "-f", "http://orion:1026/version"]
    #    interval: 5m
    #    timeout: 10s
    #    retries: 3
    #    start_period: 40s
    # Probably this placement is not necessary
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
      resources:
        limits:
            cpus: '2'
            memory: 4G
        reservations:
            cpus: '2'
            memory: 2G
    #Limitation of logging
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 10m

networks:
  fiware_backend:
    #external: true
