version: '3.7'
services:
  quantumleap:
    image: smartsdk/quantumleap:0.6
    depends_on:
      - mongo-db
      - orion
      - crate
    # Docker stack does not allow additional health check
    # healthcheck:
    #  test: curl --fail -s http://quantumleap:8668/v2/version || exit 1
    networks:
      - fiware
    ports:
      - "8668:8668"
    environment:
      - CRATE_HOST=crate
        # - USE_GEOCODING=false
        # - REDIS_HOST=redis
        # - REDIS_PORT=6379
networks:
  fiware:
