version: '3.7'
services:
  cratedb:
    # We try to always provide the latest stable version!
    # Please check release notes!
    # In future we will probably provide an image of the community edition
    image: crate:3.3.5
    hostname: cratedb
    networks:
        - fiware_backend
    ports:
     - "4200:4200"
    volumes:
      - cratedb:/data
    command: >
      crate
             -Clicense.enterprise=false
             -Cauth.host_based.enabled=false
             -Ccluster.name=fiware
             -Chttp.cors.enabled=true
             -Chttp.cors.allow-origin="*"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role==manager]
      #- node.hostname == <yourHostName>
    healthcheck:
      disable: false
    # Limiting of logging
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 10m
    environment:
       - CRATE_HEAP_SIZE=2g
       - MAX_MAP_COUNT=262144
       - ES_JAVA_OPTS="-Xms1g -Xmx1g"

  quantumleap:
    # We try to always provide the latest stable version
    image: smartsdk/quantumleap:0.7.4
    hostname: quantumleap
    depends_on:
      - mongodb
      - orion
      - cratedb
    healthcheck:
      test: curl --fail -s http://quantumleap:8668/v2/version || exit 1
    networks:
      - fiware_backend
    ports:
      - "8668:8668"
    deploy:
      replicas: 5
    environment:
      - CRATE_HOST=cratedb
      - LOGLEVEL=DEBUG
        # - USE_GEOCODING=false
        # - REDIS_HOST=redis
        # - REDIS_PORT=6379
    logging:
        driver: "json-file"
        options:
            max-file: 5
            max-size: 10m
            
  grafana:
  # We try to always provide the latest stable version
    image: grafana/grafana:6.7.2
    depends_on:
      - cratedb
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-worldmap-panel,grafana-simple-json-datasource
    volumes:
            - grafana:/var/lib/grafana
            # - "./data:/var/lib/grafana"
    ports:
      - "3001:3000"
    networks:
      - fiware_backend
  # Limiting of logging
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 5m
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role==manager]
      #- node.hostname == <yourHostName>    

networks:
  fiware_backend:
    external: true
volumes:
  grafana:
  cratedb: