version: "3.8"
services:
  mqtt-broker:
    image: eclipse-mosquitto:${MOSQUITTO_VERSION:-2.0.11}
    hostname: mqtt-broker
    ports:
      - "1883:1883"
#     # - "9001:9001"
    networks:
        - fiware_backend
    configs:
      - source: ${MOSQUITTO_CONFIG_NAME:-mosquitto.conf}
        target: mosquitto/config/mosquitto.conf
    deploy:
      replicas: 1
      resources:
        limits:
            cpus: '4'
            memory: 2G
        reservations:
            cpus: '2'
            memory: 1G


networks:
  fiware_backend:
     external: true
