version: "3.7"
services:
  mqtt-broker:
    image: eclipse-mosquitto
    hostname: mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    networks:
        - fiware_backend
    volumes:
      - ./mqtt-broker/mosquitto.conf:/mosquitto/config/mosquitto.conf

  iot-agent-json:
      image: fiware/iotagent-json:1.13.0
      hostname: iot-agent-json
      depends_on:
          - mongodb
          - mqtt-broker
      networks:
          - fiware_backend
      ports:
          - "4041:4041"
          - "7876:7896"
      environment:
          - IOTA_CB_HOST=orion # name of the context broker to update context
          - IOTA_CB_PORT=1026 # port the context broker listens on to update context
          - IOTA_NORTH_PORT=4041
          - IOTA_REGISTRY_TYPE=mongodb #Whether to hold IoT device info in memory or in a database
          - IOTA_LOG_LEVEL=DEBUG # The log level of the IoT Agent
          - IOTA_TIMESTAMP=true # Supply timestamp information with each measurement
          - IOTA_CB_NGSI_VERSION=v2 # use NGSIv2 when sending updates for active attributes
          - IOTA_MONGO_HOST=mongodb # The host name of MongoDB
          - IOTA_MONGO_PORT=27017 # The port mongoDB is listening on
          - IOTA_MONGO_DB=iotagentjson # The name of the database used in mongoDB
          - IOTA_MQTT_HOST=mqtt-broker # The host name of the MQTT Broke
          - IOTA_MQTT_PORT=1883 # The port the MQTT Broker is listening on to receive topics
          - IOTA_MQTT_PROTOCOL=mqtt # THe MQTT type supposed to use
          - IOTA_PROVIDER_URL=http://iot-agent-json:4041
          - IOTA_MULTI_CORE=true
          - PM2_ENABLED=true
      healthcheck:
        test: ["CMD", "curl", "-f", "http://iot-agent-json:4041/iot/about"]
     #   interval: 5m
     #   timeout: 10s
     #   retries: 3
     #   start_period: 40s
      logging:
        driver: "json-file"
        options:
          max-file: 5
          max-size: 10m
  
  iot-agent-ul:
      # We try to always provide the latest stable version
      image: fiware/iotagent-ul:1.12.0
      hostname: iot-agent-ul
      networks:
          - fiware_backend
      depends_on:
          - mongodb
          - mqtt-broker
      ports:
          - "4061:4061"
          - "7896:7896"
      environment:
          - IOTA_CB_HOST=orion
          - IOTA_CB_PORT=1026
          - IOTA_NORTH_PORT=4061
          - IOTA_REGISTRY_TYPE=mongodb
          - IOTA_LOG_LEVEL=DEBUG
          - IOTA_TIMESTAMP=true
          - IOTA_CB_NGSI_VERSION=v2
          - IOTA_AUTOCAST=true
          - IOTA_MONGO_HOST=mongodb
          - IOTA_MONGO_PORT=27017
          - IOTA_MONGO_DB=iotagentul
          - IOTA_MQTT_HOST=mqtt-broker
          - IOTA_MQTT_PORT=1883
          - IOTA_PROVIDER_URL=http://iot-agent-ul:4061
          - IOTA_MULTI_CORE=true
          - PM2_ENABLED=true
      healthcheck:
        test: curl --fail -s http://iot-agent-ul:4061/iot/about || exit 1
      logging:
        driver: "json-file"
        options:
          max-file: 5
          max-size: 10m

networks:
  fiware_backend:
     external: true
