version: '3'
services:
  grafana:
    image: grafana/grafana
    depends_on:
      - crate
    environment:
      - GF_INSTALL_PLUGINS=crate-datasource,grafana-clock-panel,grafana-worldmap-panel
    volumes:
            - grafana:/var/lib/grafana
            # - "./data:/var/lib/grafana"
    ports:
      - "3001:3000"
    networks:
      - fiware

networks:
  fiware:
volumes:
  grafana:
