version: '3.7'
services:
  grafana:
    image: grafana/grafana:6.2.2
    depends_on:
      - crate
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-worldmap-panel,grafana-simple-json-datasource
    volumes:
            - grafana:/var/lib/grafana
            # - "./data:/var/lib/grafana"
    ports:
      - "3001:3000"
    networks:
      - fiware

networks:
  fiware:
volumes:
  grafana:

