version: '3.7'
services:
  crate:
	#We try to always provide the latest stable version
    image: crate:4.04 # Please check release notes!
    hostname: crate-db
    networks:
        - fiware
#    ports:
#     - "4200:4200"
    volumes:
      - ./data:/data
    command: crate -Clicense.enterprise=false -Cauth.host_based.enabled=false -Ccluster.name=fiwaredemo -Chttp.cors.enabled=true -Chttp.cors.allow-origin="*"
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role==manager]
        #- node.hostname == <yourHostName>
      #healthcheck is not allowed with docker stack
      #healthcheck:
      #  disable: false
	# Limiting of logging
	logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 50m
		
networks:
  fiware:
