version: "3.1"
services:
    iot-agent-json:
        image: fiware/iotagent-json:1.8.0
        hostname: iot-agent-json
        depends_on:
            - mongo-db
        networks:
            - fiware
        ports:
            - "4041:4041"
            - "7896:7896"
        environment:
            - "IOTA_CB_HOST=orion"
            - "IOTA_CB_PORT=1026"
            - "IOTA_NORTH_PORT=4041"
            - "IOTA_REGISTRY_TYPE=mongodb"
            - "IOTA_LOG_LEVEL=DEBUG"
            - "IOTA_TIMESTAMP=true"
            - "IOTA_MONGO_HOST=mongo-db"
            - "IOTA_MONGO_PORT=27017"
            - "IOTA_MONGO_DB=iotagent-json"
            - "IOTA_PROVIDER_URL=http://iot-agent-json:4041"
            - "IOTA_MQTT_HOST=mqtt-broker"
            - "IOTA_MQTT_PORT=1883"

networks:
      fiware:
