version: "3.7"
services:
    iot-agent-json:
        image: fiware/iotagent-json:1.9.0
        #hostname: iot-agent-json
        depends_on:
            - mongo-db
            - mqtt-broker
        networks:
            - fiware
        ports:
            - "4041:4041"
            - "7876:7896"
        environment:
            - IOTA_CB_HOST=orion # name of the context broker to update context
            - IOTA_CB_PORT=1026 # port the context broker listens on to update context
            - IOTA_NORTH_PORT=4041
            - IOTA_REGISTRY_TYPE=mongodb #Whether to hold IoT device info in memory or in a database
            - IOTA_LOG_LEVEL=DEBUG # The log level of the IoT Agent
            - IOTA_TIMESTAMP=true # Supply timestamp information with each measurement
            - IOTA_CB_NGSI_VERSION=v2 # use NGSIv2 when sending updates for active attributes
            - IOTA_MONGO_HOST=mongo-db # The host name of MongoDB
            - IOTA_MONGO_PORT=27017 # The port mongoDB is listening on
            - IOTA_MONGO_DB=iotagentjson # The name of the database used in mongoDB
            - IOTA_MQTT_HOST=mosquitto # The host name of the MQTT Broker
            - IOTA_MQTT_PORT=1883 # The port the MQTT Broker is listening on to receive topics
            - IOTA_PROVIDER_URL=http://iot-agent-json:4041
        # Docker stack does not allow additional health check
        #heathcheck:
        #  test: curl --fail -s http://iot-agent-json:4041/iot/about || exit 1

networks:
      fiware:
