version: "3.7"
services:
  # Orion is the original reference implementation of NGSIv2-Based datemanagement
  orion:
    # Please, do only run one service of the following: orion, orion-ld, djeane
    # Sometimes the newest builds fail. Hence, we fixed a stable version that
    # probably will be updated once in a while
    image: fiware/orion:2.2.0
    hostname: orion
    depends_on:
        - mongodb
    networks:
        - fiware
    ports:
        - "1026:1026"
    # Check carefully documentation for options:
    # https://fiware-orion.readthedocs.io/en/master/admin/cli/index.html
    # For in production mode please adjust these settings!
    command: -dbhost mongo 
            -logLevel ERROR
            -logForHumans
            -statCounters 
            -statSemWait 
            -statTiming 
            -statNotifQueue
            -reqMutexPolicy none
    healthcheck:
      test: ["CMD", "curl", "-f", "http://orion:1026/version" || exit 1]
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 40
    # Probably this placement is not necessary
    deploy:
      replicas: 5
      placement:
        constraints: [node.role == manager
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    #Limitation of logging
    logging:
      driver: "json-file"
      options:
         max-file: 5
         max-size: 10m
    
    
    #MongoDB is the unterlying database engine
    mongodb:
    # We try to always provide the latest stable version
    # Check https://docs.mongodb.com/manual/release-notes/
    image: mongo:4.2 
    hostname: mongo

    # Because within the same network the containers
    # are connected anyways port exposing is not required 
    # --> only for external access
    ports:
    - "27017:27017"
    
    networks:
        - fiware
    # 
    command: --bind_ip_all --quiet
    environment:
        - ALLOW_EMPTY_PASSWORD=yes
        - MONGODB_SYSTEM_LOG_VERBOSITY=3
        - MONGO_DATA_DIR=/data/db
        - MONGO_LOG_DIR=/dev/null
        
    volumes:
       - mongodb:/data/db

    deploy:
      placement:
        constraints: [node.role == manager]
    
    # Settings for log-files
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 5m
  
  #Mongo-express is a simple visualisation of mongoDB-instances
  mongo-express:
    image: mongo-express:0.49 # Check https://docs.mongodb.com/manual/release-notes/
    hostname: mongo-express
    # Because within the same network the containers
    # are connected port exposing is not required --> only for external access
    ports:
        - "8081:8081"
    networks:
        - fiware
    environment:
        - ME_CONFIG_OPTIONS_EDITORTHEME=ambiance
        - ME_CONFIG_MONGODB_SERVER=mongodb
        - ME_CONFIG_MONGODB_PORT=27017
        - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
        # - ME_CONFIG_MONGODB_AUTH_DATABASE=admin
    
    # Adding dependencies
    depends_on:
        - mongo
        
    # Settings for log-files
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 5m


networks:
  fiware:
