version: "3.1"

services:
    iot-agent-ul:
        image: fiware/iotagent-ul
        hostname: iot-agent-ul
        networks:
            - fiware  
        depends_on:
            - mongodb
        ports:
            - "4061:4061"
            - "7896:7896"
        environment:
            - IOTA_CB_HOST=orion
            - IOTA_CB_PORT=1026
            - IOTA_CB_NGSI_VERSION=v2              
            - IOTA_NORTH_PORT=4061
            - IOTA_REGISTRY_TYPE=mongodb
            - IOTA_LOG_LEVEL=DEBUG
            - IOTA_TIMESTAMP=true
            - IOTA_MONGO_HOST=mongo-db
            - IOTA_MONGO_PORT=27017
            - IOTA_MONGO_DB=iotagent-ul
            - IOTA_HTTP_PORT=7896
            - IOTA_PROVIDER_URL=http://iot-agent-ul:4061
            - IOTA_MQTT_HOST=mosquitto
            - IOTA_MQTT_PORT=1883

            
networks:
    fiware:            