version: '3.7'
services:
  grafana:
  # We try to always provide the latest stable version
    image: grafana/grafana:6.3.6
    depends_on:
      - crate
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-worldmap-panel,grafana-simple-json-datasource
    volumes:
            - grafana:/var/lib/grafana
            # - "./data:/var/lib/grafana"
    ports:
      - "3001:3000"
    networks:
      - fiware
  # Limiting of logging
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 50m

networks:
  fiware:
volumes:
  grafana:

